<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.checkproductman_devConnectionString" connectionString="Server=xuanhoa.check.net.vn;Database=checknetvn_xuanhoa;uid=checknetvn_xuanhoa;pwd=4B=3^y+E;Pooling=false;Connection Timeout=3600;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
